{% extends 'routes/base.html' %}

{% block title %}{{ ciudad.name }}{% endblock %}

{% block content %}
    <div class="container mt-5">
        <!-- Título e Imagen Principal de la Ciudad -->
        <h1 class="mb-4">{{ ciudad.name }}</h1>
        <img src="{{ ciudad.image.url }}" alt="{{ ciudad.name }}" class="img-fluid rounded mb-4">
        
        <!-- Descripción de la Ciudad -->
        <p class="lead">Descripción: {{ ciudad.description }}</p>
        <p class="city-population">Población: {{ ciudad.poblacion }}</p>
        <!-- Lugares Turísticos
        <h3 class="mt-5">Lugares Turísticos en {{ ciudad.name }}:</h3>
        <ul class="list-group mb-3">
            {% for lugar in ciudad.lugares_turisticos %}
                <li class="list-group-item">{{ lugar }}</li>
            {% empty %}
                <li class="list-group-item">No hay lugares turísticos registrados.</li>
            {% endfor %}-->
        </ul>
        <!--Rutas de salida-->
        <h3 class="mt-5">Rutas desde {{ ciudad.name }}:</h3>
        <ul class="list-group mb-3">
            {% for ruta in rutas_salida %}
                <li class="list-group-item">
                    Hacia {{ ruta.end_city.name }} ({{ ruta.distance }} km)
                </li>
            {% empty %}
                <li class="list-group-item">No hay rutas de salida.</li>
            {% endfor %}
        </ul>
        <!--Rutas de llegada-->
        <h3>Rutas hacia {{ ciudad.name }}:</h3>
        <ul class="list-group mb-3">
            {% for ruta in rutas_llegada %}
                <li class="list-group-item">
                    Desde {{ ruta.start_city.name }} ({{ ruta.distance }} km)
                </li>
            {% empty %}
                <li class="list-group-item">No hay rutas de llegada.</li>
            {% endfor %}
        </ul>
        <!-- Botón para volver al inicio -->
        <a href="{% url 'home' %}" class="btn btn-primary mt-4">Volver al inicio</a>

    </div>
{% endblock %}
